<div class="header-wrap">    
    <section class="main-menu">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <ul class="nav navbar-nav" ng-hide="layout.isAdmin">
                    <li ng-class="{active:layout.activeNav=='home'}">
                        <a href="#!/home">
                            <span>MOJ NALOG</span>
                        </a>
                    </li>
                               
                    <li ng-class="{active:layout.activeNav=='edit'}">
                        <a href="#!/edit/{{globals.currentUser.id}}">
                            <span>Edit</span>
                        </a>
                    </li>
                        
                    <li>
                        <a href="#" ng-click="logout();" ng-controller="UserCtrl"><span>ODJAVI SE</span></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav" ng-show="layout.isAdmin">
                    <li ng-class="{active:layout.activeNav=='lists'}">
                        <a href="#!/lists">
                            <span>List users</span>
                        </a>
                    </li>
                               
                    <li>
                        <a href="#" ng-click="logout();" ng-controller="UserCtrl"><span>ODJAVI SE</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
</div>