<div class="wrapper">
    <div class="form-wrapper">
        <form role="form" class="rbt-form" name="registerForm" autocomplete="off" novalidate="novalidate" ng-submit="register();">
            
                <h2 class="title">Kreiraj nalog</h2>
                <div class="block">
                    <!--ng-class="{ 'error' : registerForm.username.$dirty}" -->
                    <label>Username</label>
                    <input type="text" class="" name="username" ng-model="user.username" placeholder="" ng-required='true' ng-pattern="/^[a-zA-Z\ ]+$/">
                    <p ng-messages="registerForm.username.$error"  ng-if='registerForm.username.$dirty  || registerForm.$submitted'>
                        <span ng-message="required" class="error-view">
                            Unesi username
                        </span>
                        <span ng-message="pattern" class="error-view">
                            Only characters A-Z, a-z are  acceptable.
                        </span>
                    </p>
                </div>

                <div class="block">
                    <label>Unesi email</label>
                    <input type="email" class="" name="email" ng-model="user.email" placeholder="" ng-required='true' ng-pattern="/\S+@\S+\.\S+/">
                    <p ng-messages="registerForm.email.$error"  ng-if='registerForm.email.$dirty  || registerForm.$submitted'>
                        <span ng-message="required" class="error-view">
                            Unesi email
                        </span>
                        <span ng-message="pattern" class="error-view">
                            Nije validan email
                        </span>
                    </p>
                </div>

                <div class="block">
                    <label>Unesi lozinku</label>
                    <input type="password" class="" name="password" ng-model="user.password" placeholder="" ng-required='true' valid-password>
                    <p ng-messages="registerForm.password.$error"  ng-if='registerForm.password.$dirty  || registerForm.$submitted'>
                        <span ng-message="required" class="error-view">
                            Unesi password
                        </span>
                        <span ng-message="noValidPassword" class="error-view">
                            Lozinka mora da ima najmanje 5 a najviše 8 karaktera
                        </span>
                    </p>
                </div>
                <div class="block">
                    <label>Ponovi lozinku</label>
                    <input type="password" class="" name="confirmPassword" placeholder="" 
                    ng-model="user.confirmPassword" ng-required='true' equals="{{user.password}}">
                    <p ng-messages="registerForm.confirmPassword.$error" ng-if='registerForm.confirmPassword.$dirty  || registerForm.$submitted'>
                        <span ng-message="required" class="error-view">
                            Unesi confirmPassword
                        </span>
                        <span ng-message="equals" class="error-view">
                            confirmPassword nije isti
                        </span>
                    </p>
                </div>
                <button type="submit" class="btn btn-default orange_button">Potvrdi</button>
        </form>
        <br>
        <a href="#!/login" class="center-link">Login</a>
    </div>
</div>